<a href="https://colab.research.google.com/github/squinones123/planets/blob/master/LCG_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=5
print(x,type(x))

5 <class 'int'>

In [ ]:
print(x+3)
print(x-3)
print(x*3)
print(x**3)

In [ ]:
print(x)
x += 1
print(x)
x *=2
print(x)

In [ ]:
y = 2.5
print(type(y))
print(y, y+1,y*2,y**2)

In [3]:
t,f=True,False
print(type(t))

<class 'bool'>

In [4]:
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [ ]:
hello = "hello"
world = "world"
print(hello, len(hello))

In [ ]:
hw= hello + " " + world
print(hw)

In [6]:
s= "hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace("l", "(ell)"))
print("world".strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
xs = [0,1,2,3]
print(xs,xs[2])
print(xs[-1])

In [ ]:
xs[2]="fox2"
print(xs)

In [ ]:
xs.append("bar")
print(xs)

In [ ]:
x=xs.pop()
print(x,xs)

In [7]:
nums= list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4]= [8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [8]:
animales = ["gato", "perro", "chango"]
for animal in animales:
  print(animal)

gato
perro
chango

In [11]:
animales = ["gato", "perro", "chango"]
for idx, animal in enumerate(animales):
  print("#{}: {}".format(idx+1,animal))

#1: gato
0 gato
#2: perro
1 perro
#3: chango
2 chango

In [12]:
nums=[0,1,2,3,4]
squares=[]
for x in nums:
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
nums=[0,1,2,3,4]
squares=[x**2 for x in nums]
print(squares)

In [14]:
nums=[0,1,2,3,4]
even_squares= [x**2 for x in nums if x%2==0]
print(even_squares)

[0, 4, 16]

In [15]:
d = {"gato": "arena", "perro": "parque"}
print(d["gato"])
print("gato" in d)

arena
True

In [ ]:
d["pez"]="agua"
print(d["pez"])

In [ ]:
print(d["chango"])

In [ ]:
print(d.get("chango","N/A"))
print(d.get("pez","N/A"))

In [ ]:
del d["pez"]
print(d.get("pez","N/A"))

In [ ]:
d={"humano":2,"gato":4,"aracnido":8}
for animal,patas in d.items():
  print("Un {} tiene {} patas".format(animal,patas))

In [ ]:
nums=[0,1,2,3,4]
pares_a_cuadrados={x: x**2 for x in nums if x %2==0}
print(pares_a_cuadrados)

In [ ]:
animales={"gato","perro"}
print("gato"in animales)
print("pez"in animales)

In [ ]:
animales.add("pez")
print("pez"in animales)
print(len(animales))

In [ ]:
animales.add("gato")
print(len(animales))
animales.remove("gato")
print(len(animales))

In [ ]:
an

In [ ]:
animales={"gato","perro","pez"}
for idx, animal in enumerate(animales):
  print("#{}: {}".format(idx+1,animal))

In [17]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

In [ ]:
d = {(x,x+1): x for x in range(10)}
t=(5,6)
print(type(t))
print(d[t])
print(d[(1,2)])

In [ ]:
t[0]=1

In [18]:
def sign(x):
  if x > 0:
    return "positive"
  elif x < 0:
    return "negative"
  else:
    return "zero"

for x in [-1,0,1]:
  print(sign(x))

negative
zero
positive

In [21]:
def hello(name, loud=False):
  if loud:
    print("HELLO, {}".format(name.upper()))
  else:
    print("HELLO, {}!".format(name))

hello("Bob")
hello("Fred",loud=True)

HELLO, Bob!
HELLO, FRED